<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
  </head>
  <body>
    <a href="/"><h1>Music</h1></a>
    <div>
      <a href="/bands/"><h2>List of Bands</h2></a>
    <div>
    <div>
      <a href="/albums/"><h2>List of albums</h2></a>
    <div>
  </body>
</html>
