<!DOCTYPE html>
<html>
  <head>
    <title>List of Albums</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Album Data</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/list-albums/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No albums found.</div>
    <% } %>
    <div class="control">
      <h2>Search for albums by title</h2>
     <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/list-albums/"
            onsubmit="return onFormSubmit(this);">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Album Title<br>
          (lowercase letters only, no spaces):
          <input name="item[id]" type="text" pattern="[A-Z]+" required
                 placeholder="title">
</label>
<label>Title:
<input name="album[title]" type="text" required>
</label>
<label>Year:
<input name="album[year]" type="text" required>
</label>
        <button>Search</button>
      </form>
    </div>
<div>
<h2>Find Albums with a Given Title</h2>
    <!-- state transition to find albums with a given title -->
    <h4>Album Title</h4>
    <form method="get" action="/list-albums/">
        <label>Album title: <input name="title"></label>
        <button>Search</button>
      </form>
</div>
  </body>
</html>
