<!DOCTYPE html>
<html>
  <head>
    <title>List of Albums</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Music</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li itemscope itemtype="http://www.schema.org/MusicAlbum" itemprop="<%=item.name%>"><a href="/list-albums/<%=item._id%>"><%=item.title%></a>
</li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No albums found.</div>
    <% } %>
    <div class="control">
      <h2>Search For Albums By Title, Genre and Year</h2>
     <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/list-albums/"
            onsubmit="return onFormSubmit(this);">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Album Title:<br>
          <input name="item[id]" type="text" pattern="[A-Z]+" required
                 placeholder="title">
</label>
<label>Genre:
<input name="album[genre]" type="text" required>
</label>
<label>Year:
<input name="album[year]" type="text" required>
</label>
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
