<!DOCTYPE html>
<html>
  <head>
    <title>Bands</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>List of Bands</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/bands/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No bands have been added.</div>
    <% } %>
    <div class="control">
      <h2>Add or update a new band</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['band[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/bands/"
            onsubmit="return onFormSubmit(this);">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Band ID<br>
          (lowercase letters only, no spaces):
          <input name="item[id]" type="text" pattern="[a-z]+" required
                 placeholder="Band Name">
        </label>
        <label>Band Name: 
          <input name="item[name]" type="text" required
                 placeholder="Band">
        </label>
        <label>Band description:
          <textarea name="item[description]" cols="80" rows="10" 
                    placeholder="Please include when the band formed, where they are from and what kind of music they play."
          ></textarea>
        </label>
        <button>Add or update</button>
      </form>
    </div>
  </body>
</html>
